@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700;900&family=Open+Sans:wght@400;500;600;700&display=swap');
@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Martel', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.title {}

button {
    outline: none!important;
    transition-duration: .2s;
    border: none;
    &:active {
        transform: scale(1.02)
    }
}

body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/promo';
@import 'blocks/area';
@import 'blocks/advice';
@import 'blocks/whowe';
@import 'blocks/client';
@import 'blocks/touch';
@import 'blocks/request';
@import 'blocks/footer';
@import 'blocks/media';