@media (max-width: 1200px) {
    body {
        max-width: 1200px;
    }
    .container {
        position: relative;
        max-width: 960px;
    }
    .nav {
        margin-right: 70px;
        &__hamburger {
            right: 0;
        }
    }
    .promo {
        padding: 200px 0 0 0;
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__btn-get {
            width: 152px;
            height: 40px;
        }
        &__btn-learn {
            height: 40px;
            width: 125px;
        }
    }
    .client {
        &__wrap {
            justify-content: space-between;
        }
        &__img {
            margin: 0;
        }
        &:first-child {
            margin: 0;
        }
        &__subscribe {
            gap: 85px;
            padding: 30px 20px 0 20px;
            width: auto;
        }
        form {
            justify-content: end;
        }
        input {
            width: 233px;
        }
        button {
            width: 97px;
        }
    }
    .request {
        &__wrap {
            justify-content: space-around;
        }
        button {
            margin: 0;
        }
    }
    .footer {
        .container {
            margin: 0 auto;
        }
        padding: 50px 0 0 0;
        &__menu {
            justify-content: space-around;
            // gap: 5;
        }
        &__list {
            width: 130px;
            &_contact {
                width: 225px;
                gap: 12px;
            }
        }
        &__footer {
            margin-top: 53px;
        }
    }
}

@media (max-width: 992px) {
    body {
        max-width: 992px;
    }
    .container {
        padding: 0px 20px;
        max-width: 760px;
    }
    .header {
        top: 20px;
    }
    .nav {
        &__hamburger {
            right: 20px;
        }
    }
    .area {
        &__block {
            width: 225px;
        }
    }
    .advice {
        &__wrap {
            grid-template-columns: 230px 230px;
            justify-content: center;
            gap: 50px;
        }
    }
    .whowe {
        &__wrap {
            margin-top: 100px;
            display: flex;
            gap: 50px;
        }
        &__video {
            Width: 422px;
            // Height: 342px;
        }
        &__title {
            margin-top: 0;
        }
    }
    .client {
        height: 352px;
        &__wrap {
            padding: 10px 0;
            display: grid;
            grid-template-columns: repeat(3, auto);
            align-items: center;
            gap: 40px;
        }
        &__subscribe {
            padding: 30px 20px 0 20px;
            width: 90%;
        }
        &__title {
            font-size: 18px;
        }
    }
    .touch {
        &__block {
            width: 237px;
            padding: 50px 0;
        }
        &__big-block {
            padding: 80px 0;
        }
    }
    .footer {
        // padding: 50px 0 0 195px;
        height: 446px;
        background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%) top left/ 100% 372px no-repeat #FAFAFA;
        &__menu {
            display: grid;
            grid-template-columns: repeat(4, auto);
            li {
                &:nth-child(5) {
                    grid-column: 1/5;
                    // grid-column-start: 1;
                    // grid-column-end: 5;
                }
            }
        }
        &__list {
            &_contact {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &__title_contact {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    body {
        max-width: 768px;
    }
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    body {
        max-width: 100%;
    }
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}